---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>OPENWOLF - Invest in Humanity</title>	
	<meta name="title" content="OPENWOLF - Invest in Humanity">
	<meta name="description" content="Invest with us and earn a stable, secure and humane source of income that helps you grow while at the same time helps lift communities out of poverty.">
	<meta name="keywords" content="investment, simple investment, grassroots investment, donate to poor, donation to poor, invest in people, invest in humanity, community investment, make money, stable source of income, invest in online stores, purchase website, buy online stores">
	<meta name="robots" content="index, follow">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="language" content="English">
	<meta name="revisit-after" content="2 days">
	<meta name="author" content="OPENWOLF Co.">
	<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://openwolf.com/">
<meta property="og:title" content="OPENWOLF / OPENWOLF Investments">
<meta property="og:description" content="Invest with us and earn a stable, secure and humane source of income that helps you grow financially, while at the same time helps lift communities out of poverty.">
<meta property="og:image" content="https://openwolf.com/assets/images/projects/openwolf_logo_200px.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://openwolf.com/">
<meta property="twitter:title" content="OPENWOLF / OPENWOLF Investments">
<meta property="twitter:description" content="Invest with us and earn a stable, secure and humane source of income that helps you grow financially, while at the same time helps lift communities out of poverty.">
<meta property="twitter:image" content="https://openwolf.com/assets/images/projects/openwolf_logo_200px.png">
	
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content bgMain">
		<section class="intro">
			<div class="container">
				<h2>What We Are</h2>
				<p>{{ site.motto }}</p>
			</div><br>
				<div class="container">
				<h2>Why Us</h2>
				<p>{{ site.whyus }}</p>
			</div><br>
				<div class="container">
				<h2>Our Plan</h2>
				<p>{{ site.goal }}</p>
			</div><br>
			<div class="container">
				<h2>Our Strategy.</h2>
				<p>{{ site.description }}</p>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2>Current Portfolio.</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
