<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="Facebook" href="https://facebook.com/openwolfofficial" target="_blank">Facebook</a></li>
				<li><a title="Medium" href="https://medium.com/openwolf" target="_blank">Medium</a></li>
				<li><a title="Github" href="https://github.com/openwolfco" target="_blank">Github</a></li>
			</ul>
		</section>
		<section class="follow">
			<h2>Investment</h2>
			<ul>
				<li><a title="For Investors" href="https://openwolf.com/investor/">For Investors</a></li>
				
				<li><a title="Micro-investment Scheme" href="#">Micro-investment Scheme</a></li>
			</ul>
		</section>
	</div>
</footer>
